<div class="event-info">

  @if (showStatus) {

    <p class="event-info__item">
      <strong>STATUT :</strong>

      <span [ngClass]="statusLabel | statusColor">
        {{ statusLabel }}
      </span>
    </p>

  }

  <p class="event-info__item">
    <strong>ACTIVITÉ :</strong>
    {{ event.activityName }}
  </p>

  <p class="event-info__item">
    <strong>DATE :</strong>
    {{ eventDate | date:'mediumDate' }}
  </p>

  <p class="event-info__item">
    <strong>HORAIRE :</strong>
    {{ eventTime }}
  </p>

  <p class="event-info__item">
    <strong>ADRESSE :</strong>
    {{ event.address?.street }},
    {{ event.address?.postalCode }}
    {{ event.address?.city }}
  </p>

  <p class="event-info__item">
    <strong>NIVEAU :</strong>
    {{ levelLabel }}
  </p>

  <p class="event-info__item">
    <strong>MATÉRIEL :</strong>
    {{ materialLabel }}
  </p>

  <p class="event-info__item">
    <strong>NOMBRE DE PARTICIPANTS :</strong>
    {{ event.maxParticipants }}
  </p>

  @if (showOrganizer) {

    <p class="event-info__item">
      <strong>ORGANISATEUR :</strong>
      {{ event.organizerName }}
    </p>

  }

</div>