<div class="flex flex-col w-full text-sm leading-relaxed gap-3 mt-3">
  @if (showStatus) {
    <p>
      <strong>STATUT : </strong>
      <span [ngClass]="statusLabel | statusColor">{{ statusLabel }}</span>
    </p>
  }
    <p><strong>ACTIVITÉ :</strong> {{ event.activityName }}</p>
    <p><strong>DATE :</strong> {{ eventDate | date:'mediumDate' }}</p>
    <p><strong>HORAIRE :</strong> {{ eventTime }}</p>
    <p><strong>ADRESSE :</strong> {{ event.address?.street }}, {{ event.address?.postalCode }} {{ event.address?.city }}</p>   
    <p><strong>NIVEAU :</strong> {{ levelLabel }}</p>
    <p><strong>MATÉRIEL :</strong> {{ materialLabel }}</p>
    <p><strong>NOMBRE DE PARTICIPANTS :</strong> {{ event.maxParticipants }}</p>

  @if (showOrganizer) {
    <p><strong>ORGANISATEUR :</strong> {{ event.organizerName }}</p>
  }
</div>
