<section class="home">

  <div class="home-content">

    <h1 class="home-logo">
      MEET MATES
    </h1>

    <h2 class="home-title">
      {{ signals.pageTitle() }}
    </h2>

    <p class="home-description">
      Meet Mates est une application qui permet de participer à des activités
      en tout genre, rencontrer de nouvelles personnes et partager des moments
      de convivialité.
    </p>

    <div class="home-actions">

      <app-button
         label="CONNEXION" 
         routerLink="/login" 
         [fullWidth]="true" 
       />

      <app-button 
        label="INSCRIPTION" 
        routerLink="/register" 
        [fullWidth]="true" 
      />

      @if (isAdmin()) {
      <app-button 
        label="ADMIN"
        routerLink="/admin/dashboard" 
        [fullWidth]="true" 
       />
       
      }

    </div>

  </div>

</section>