    <div class="profile-picture-section">

      <div class="picture-wrapper">

        <img
          [src]="previewUrl || user.profilePictureUrl || 'assets/images/default-avatar.png'"
          alt="photo profil"
          class="profile-picture"
        />

        @if (user.profilePictureUrl) {

          <button
            mat-icon-button
            type="button"
            class="delete-button"
            aria-label="Supprimer la photo"
            (click)="onDelete()">

            <mat-icon>delete</mat-icon>

          </button>

        }

      </div>

      <app-button
        label="AJOUTER UNE PHOTO"
        class="primary-button"
        type="button"
        [fullWidth]="true"
        (click)="fileInput.click()">
      </app-button>

      <input
        #fileInput
        type="file"
        accept="image/*"
        hidden
        (change)="onFileSelected($event)"
      />

    </div>