<section class="register">

  <form
    class="register-form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >

    <app-input
      label="Nom"
      [control]="form.controls.lastName"
      type="text"
      [required]="true"
    />

    <app-input
      label="Prénom"
      [control]="form.controls.firstName"
      type="text"
      [required]="true"
    />

    <app-input
      label="Email"
      [control]="form.controls.email"
      type="email"
      [required]="true"
    />

    <app-input
      label="Mot de passe"
      [control]="form.controls.password"
      type="password"
      [required]="true"
    />

    <app-input
      label="Confirmez le mot de passe"
      [control]="form.controls.confirmPassword"
      type="password"
      [required]="true"
    />

    <div class="register-cgu">

      <mat-checkbox formControlName="acceptCgu">
        J’accepte les
      </mat-checkbox>

      <button
        type="button"
        class="cgu-link"
        (click)="openCguDialog($event)"
      >
        Conditions Générales d’Utilisation
      </button>

    </div>

    @if (
      form.controls.acceptCgu.hasError('required')
      && form.controls.acceptCgu.touched
    ) {
      <span class="register-error">
        Vous devez accepter les Conditions Générales.
      </span>
    }

    <app-button
      label="S’INSCRIRE"
      type="submit"
      [fullWidth]="true"
      [disabled]="isSubmitting"
    />

  </form>

</section>