<div class="flex flex-col items-center min-h-screen px-7 py-20">

  <app-state-handler
    [loading]="loading"
    [error]="error">
  </app-state-handler>

  @if (users()) {

    <div class="container w-full max-w-3xl space-y-4">

      <h2 class="text-3xl font-semibold text-center">
        Liste des utilisateurs
      </h2>

      @for (user of users(); track user.id) {

        <div class="user-card bg-white rounded-md shadow flex flex-col gap-3">

          <div class="flex flex-col gap-1 p-4">
            <span class="font-semibold">
              {{ user.firstName }} {{ user.lastName }}
            </span>

            <span class="text-sm text-gray-500">
              {{ user.email }}
            </span>

            <span class="text-sm">
              Rôle : {{ user.role }}
            </span>

            <span class="text-sm">
              Statut : {{ user.status }}
            </span>
          </div>

        <div class="flex flex-col gap-2">

            @if (!user.deletedAt) {
              <app-button
                label="SUPPRIMER"
                class="secondary-button"
                (clicked)="softDeleteUser(user.id)">
              </app-button>
            }

            @if (user.deletedAt) {
              <app-button
                label="RESTAURER"
                class="secondary-button"
                (clicked)="restoreUser(user.id)">
              </app-button>
            }

            <app-button
              label="SUPPRIMER DÉFINITIVEMENT"
                class="secondary-button"
              (clicked)="hardDeleteUser(user.id)">
            </app-button>

          </div>
        </div>
      }
    </div>
  } @else {
    <p class="text-gray-500 text-center">
      Aucun utilisateur trouvé.
    </p>
  }
</div>
