:host {
  display: block;
  width: 100%;
}

.loading-spinner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

mat-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #ff6200;
  margin-bottom: 5px;
}

.loading-message {
  text-align: center;

  font-size: 16px;
  font-weight: 700;

  color: #6b7280;
}

@media (min-width: 1024px) {

  .loading-message {
    font-size: 20px;
  }
}