<section class="post-event">

  @if (loading()) {

    <app-state-handler
      [loading]="loading"
      [error]="error">
    </app-state-handler>

  }
  @else if (error()) {

    <app-state-handler
      [loading]="loading"
      [error]="error">
    </app-state-handler>

  }
  @else {

    <app-event-form
      mode="create"
      [activities]="activities()"
      [addressSuggestions]="addressSuggestions()"
      (addressInput)="searchAddress($event)"
      (addressSelected)="selectAddress($event)"
      (submitForm)="create($event)">
    </app-event-form>

  }

</section>