.post-event {
  width: 100%;

  display: flex;
  justify-content: center;

  padding: 15px 24px 15px;
  box-sizing: border-box;
}

app-event-form {
  width: 100%;
  max-width: 900px;
}

@media (min-width: 1024px) {

.post-event {


  padding: 50px 24px 120px;

}
}