<div class="app-input">

  <label class="app-input-label">
    {{ label }}
  </label>

  <input
    class="app-input-field"
    [formControl]="control"
    [type]="type"
    [required]="required"
    [placeholder]="placeholder"
    [attr.maxlength]="maxLength"
  />

  @if (control.hasError('required') && (control.touched || control.dirty)) {
    <span class="app-input-error">
      {{ label }} est requis.
    </span>
  }

  @if (control.hasError('email') && !control.hasError('required')) {
    <span class="app-input-error">
      Adresse email invalide.
    </span>
  }

  @if (control.hasError('minlength') && !control.hasError('required')) {
    <span class="app-input-error">
      Minimum {{ control.getError('minlength')?.requiredLength }} caractères.
    </span>
  }

  @if (control.hasError('maxlength') && !control.hasError('required')) {
    <span class="app-input-error">
      Maximum {{ control.getError('maxlength')?.requiredLength }} caractères.
    </span>
  }

</div>