<div class="search-page">

  <app-state-handler 
    [loading]="loading"
    [error]="error">
  </app-state-handler>

  @if (!error()) {

    <div class="search-content">

      <app-input
        class="search-input"
        label="Rechercher un événements"
        [control]="form.controls['query']">
      </app-input>

      @if (loadingSearch()) {

        <app-loading-spinner 
          message="Chargement des événements..."
          [diameter]="30">
        </app-loading-spinner>

      }

      @if (!loadingSearch() && results().length > 0) {

        <div class="results-list">

          @for (event of results(); track event?.id) {

            @if (event) {

              <app-event-card
                [event]="event"
                (viewDetails)="goToEventDetails($event)">
              </app-event-card>

            }

          }

        </div>

      }

      @if (!loadingSearch() 
        && results().length === 0 
        && form.controls['query'].value?.length > 0) {

        <div class="empty-results">

          Aucun événement trouvé pour
          <span>"{{ form.controls['query'].value }}"</span>

        </div>

      }

    </div>

  }

</div>