.container {

    @media (min-width: 600px) and (max-width: 999px) {
        margin: 0 auto;
        padding-top: 5rem;
    }
}

@media (min-width: 1024px) {

  .container {
    width: 100%;
    margin: 0 auto;
    padding-top: 120px !important;
  }

  ::ng-deep mat-form-field {
    width: 700px !important;
  }

  ::ng-deep input {
    height: 80px !important;
    font-size: 30px !important;
  }

  ::ng-deep .mdc-floating-label {
    font-size: 30px !important;
  }

  ::ng-deep .w-80 {
    width: 700px !important;
  }

  ::ng-deep mat-expansion-panel {
    width: 100% !important;
  }

  ::ng-deep .mat-expansion-panel-header {
    height: 90px !important;
    background-color: white;
  }

  ::ng-deep .mat-content span {
    font-size: 24px !important;
  }

  ::ng-deep .primary-button {
    width: 100% !important;
    max-width: 500px;

    height: 80px !important;
    font-size: 28px !important;
  }

  .text-gray-500,
  .text-gray-800 {
    font-size: 24px;
  }

  
  ::ng-deep button.primary-button {
    opacity: 1 !important;
    border: none !important;
    box-shadow: none !important;
    margin-top: 30px;
  }
    ::ng-deep button.primary-button:hover {
    opacity: 0.7 !important;
  }
  ::ng-deep app-event-info-card {
    width: 100%;
  }

  ::ng-deep app-event-info-card {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  ::ng-deep app-event-info-card p,
  ::ng-deep app-event-info-card span,
  ::ng-deep app-event-info-card div {
    font-size: 24px !important;
    line-height: 1.6;
    text-align: center;
  }

  ::ng-deep app-event-info-card .flex,
  ::ng-deep app-event-info-card .flex-col {
    align-items: center !important;
    justify-content: center !important;
  }

  ::ng-deep app-event-info-card mat-icon {
    transform: scale(1.4);
  }
    ::ng-deep .mat-expansion-panel-header-title,
  ::ng-deep .mat-content span {
    font-size: 33px !important;
  }

  ::ng-deep .mat-expansion-panel-header {
    height: 100px !important;
  }
    ::ng-deep app-loading-spinner mat-progress-spinner {
    transform: scale(3);
    margin-top: 80px !important;

    --mdc-circular-progress-active-indicator-color: #ff6600;
  }

  ::ng-deep app-loading-spinner p {
    font-size: 25px !important;
    line-height: 1.6;
    margin-top: 30px;
  }

  .text-red-600 {
    font-size: 28px !important;
    line-height: 1.6;
    margin-top: 40px !important;
    text-align: center;
  }
}