:host {
  display: block;
  width: 100%;
}

.edit-profile-page {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;

  padding: 24px;
  padding-top: 70px;

  box-sizing: border-box;
}

.edit-profile-content {
  width: 100%;
  max-width: 460px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 32px;
}

@media (min-width: 1024px) {

  .edit-profile-page {
    padding-inline: 48px;
  }

  .edit-profile-content {
    max-width: 460px;
    gap: 48px;
  }

}