<div class="edit-profile-page">

  <app-state-handler
    [loading]="loading"
    [error]="error">
  </app-state-handler>

  @if (user()) {

    <div class="edit-profile-content">

      <app-edit-profile-picture
        [user]="user()!"
        (photoSelected)="onPhotoSelected($event)"
        (photoDeleted)="onPhotoDeleted()">
      </app-edit-profile-picture>

      <app-edit-profile-form
        [user]="user()!"
        (save)="onSave($event)">
      </app-edit-profile-form>

    </div>

  }

</div>