:host {
  display: block;
  width: 100%;
}

.events-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  box-sizing: border-box;
}

.events-list {
  width: 100%;
  max-width: 460px;
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.event-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-title {
  width: 100%;
}

.event-info {
  width: 100%;
}

.primary-button {
  width: 100%;
}

.empty-state {
  width: 100%;
  max-width: 510px;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.empty-state p {
  line-height: 1.3;
}

.empty-state span {
  font-weight: var(--font-semibold);
}


@media (min-width: 1024px) {

  .events-page {
    padding-top: 50px;
    padding-inline: 48px;
    font-size: 32px;
  }

  .events-list {
    max-width: 410px;
    gap: 110px;
  }

  .event-card {
    gap: 10px;
  }

  .empty-state {
    max-width: 700px;
  }

  .empty-state p {
    font-size: 32px;
    font-weight: var(--font-light);
    line-height: 1.3;
  }

}

@media (min-width: 1800px) {

  .events-page {
    padding-top: 50px;
    padding-inline: 48px;
  }

  .events-list {
    max-width: 510px;
    gap: 110px;
  }

  .event-card {
    gap: 25px;
  }

  .empty-state {
    max-width: 700px;
  }

  .empty-state p {
    font-size: 32px;
    font-weight: var(--font-light);
    line-height: 1.3;
  }

  .empty-state span {
    font-size: 40px;
  }

}