<div class="events-page">

  <app-state-handler
    [loading]="loading"
    [error]="error">
  </app-state-handler>

  @if (!loading() && !error()) {

    @if (events().length > 0) {

      <div class="events-list">

        @for (event of events(); track event.id) {

          <div
            #eventCard
            [attr.data-id]="event.id"
            class="event-card">

            <app-event-header
              class="event-title"
              [title]="event.title"
              [description]="event.description">
            </app-event-header>

            <app-event-info
              class="event-info"
              [event]="event"
              [showStatus]="true">
            </app-event-info>

            <app-button
              class="primary-button"
              label="P A R T I C I P E R"
              (clicked)="joinEvent(event.id)">
            </app-button>

          </div>

        }

      </div>

    } @else {

      <div class="empty-state">

        <p>
         <span> AUCUNE ACTIVITÉ DISPONIBLE </span>
          <br><br>
          Soyez le premier à proposer un événement pour cette activité.
        </p>

      </div>

    }

  }

</div>