<section class="reset-password">

  <form
    class="reset-password-form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >

    <app-input
      label="Nouveau mot de passe"
      [control]="form.controls.newPassword"
      type="password"
      [required]="true"
    />

    <app-input
      label="Confirmez le mot de passe"
      [control]="form.controls.confirmPassword"
      type="password"
      [required]="true"
    />

    <app-button
      label="RÉINITIALISER"
      type="submit"
      [fullWidth]="true"
      [disabled]="isSubmitting"
    />

    <app-button
      label="RETOUR À LA CONNEXION"
      routerLink="/login"
      [fullWidth]="true"
    />

  </form>

</section>