<mat-toolbar class="footer fixed flex bottom-0 justify-around z-50">
  <button mat-icon-button (click)="navigateTo('home')">
    <mat-icon>home</mat-icon>
  </button>

  <button mat-icon-button (click)="navigateTo('category')" >
    <mat-icon>sports_basketball</mat-icon>
  </button>

  <button mat-icon-button  (click)="navigateTo('post-event')">
    <mat-icon>add</mat-icon>
  </button>

  <button mat-icon-button (click)="navigateTo('search-events')">
    <mat-icon>search</mat-icon>
  </button>

  <button mat-icon-button (click)="navigateTo('profile')">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

