
<footer class="mobile-footer">

  <button (click)="navigateTo('home')">
       <mat-icon>home</mat-icon>

  </button>

  <button (click)="navigateTo('category')">
       <mat-icon class="">grid_view</mat-icon>
  </button>

  <button (click)="navigateTo('post-event')">
    <mat-icon>add</mat-icon>
  </button>

  <button (click)="navigateTo('search-events')">
      <mat-icon>search</mat-icon>

  </button>

  <button (click)="navigateTo('profile')">
     <mat-icon>person</mat-icon>
  </button>

</footer>