:host {
  display: block;
  width: 100%;
}

.event-address {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.address-label {
  font-size: 15px;
  font-weight: var(--font-extrabold);
  text-align: left;
}

.address-input {
  width: 100%;
  min-height: 58px;
  padding: 0 18px;
  border: none;
  border-bottom: 2px solid var(--color-black);
  box-shadow: var(--shadow-input);
  background: var(--color-white);
  font-size: 16px;
  font-weight: var(--font-bold);
  outline: none;
}

.address-input:focus {
  border-bottom: 2px solid var(--color-orange);
  box-shadow: var(--shadow-input-focus);
}

.address-error {
  font-size: 14px;
  font-weight: var(--font-bold);
  color: var(--color-error);
  text-align: left;
}

::ng-deep .mat-mdc-autocomplete-panel {
  background: var(--color-white) !important;
  border-bottom: 2px solid var(--color-black);
  border-top: 2px solid var(--color-black);
  box-shadow:
    0 10px 20px var(--color-black) !important;
}


@media (min-width: 1024px) {

  .address-label {
    font-size: 18px;
  }

  .address-input {
    min-height: 72px;
    padding: 0 24px;
    font-size: 20px;
  }

  .address-error {
    font-size: 16px;
  }
}