<div class="admin-page">

  <app-state-handler
    [loading]="loading"
    [error]="error">
  </app-state-handler>

  <div class="admin-content">

    <div class="admin-buttons">

    <div class="admin-stats">

      <p>{{ users()?.length ?? 0 }} utilisateurs</p>

      <p>{{ events()?.length ?? 0 }} événements</p>

    </div>
    
      <app-button
        label="UTILISATEURS"
        class="primary-button"
        (clicked)="goTo('/admin/users')">
      </app-button>

      <app-button
        label="ÉVÉNEMENTS"
        class="primary-button"
        (clicked)="goTo('/admin/events')">
      </app-button>

    </div>



  </div>

</div>