<div class="pt-[40px] pb-[60px] mt-2">

  <app-state-handler 
    [loading]="loading"
    [error]="error">
  </app-state-handler>

  @if (!loading() && !error()){
    <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 justify-items-center gap-6 p-6">
      @for (category of categories(); track category.id) {
      
        <app-icon-card
          class="icon-card"
          [title]="category.name"
          [iconPath]="'/assets/images/icons/' + category.imageUrl"
          (cardClick)="navigateTo(category.id)">
        </app-icon-card>

      }
    </div>
    }
</div>
