.container {
    @media (min-width: 1000px) and (max-width: 2900px) {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    @media (min-width: 500px) and (max-width: 999px) {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}