:host {
  display: block;
  width: 100%;
}

.settings-menu-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.settings-icon {
  transform: scale(1.2);
}

::ng-deep .settings-menu {
  border-left: 2px solid rgba(0, 0, 0, 0.75) !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.75) !important;
  background-color: white;
  box-shadow:
    -6px 0 10px -6px #c04d05,
    0 10px 14px -10px #c04d05,
    0 6px 8px -6px rgba(0, 0, 0, 0.45) !important;
}

::ng-deep .settings-menu .mat-mdc-menu-content {
  background: #ffffff !important;
}

button:hover {
  color: #c04d05,
}


@media (min-width: 1024px) {

  .settings-icon {
    transform: scale(1.5);
  }

  ::ng-deep .settings-menu {
    width: 420px !important;
  }

  ::ng-deep .settings-menu .mat-mdc-menu-item {
    height: 72px !important;
    font-size: 21px !important;
  }
}