<div class="participant-page">

  <app-state-handler
    [loading]="loading"
    [error]="error">
  </app-state-handler>

  @if (event()) {

    <div class="participant-content">

      <app-event-header
        class="participant-header"
        [title]="event()!.title"
        [description]="event()!.description">
      </app-event-header>

      <app-event-status
        class="participant-status"
        [eventStatus]="event()!.status"
        [participationStatus]="event()!.participationStatus">
      </app-event-status>

      <app-event-info
        class="participant-info"
        [event]="event()!"
        [showStatus]="false">
      </app-event-info>

      <app-participant-list
        class="participant-list"
        [participants]="event()!.acceptedParticipants">
      </app-participant-list>

      <div class="participant-actions">

        <app-button
          label="ANNULER VOTRE PARTICIPATION"
          class="primary-button"
          (clicked)="cancelParticipation(event()!.id)">
        </app-button>

      </div>

    </div>

  }

</div>