<div class="container flex flex-col items-center justify-start min-h-screen px-7 py-10 mt-8">
  
   <app-state-handler 
    [loading]="loading"
    [error]="error">
  </app-state-handler>

  @if (event()) {
    <div class="w-full flex flex-col items-center p-4">

      <app-event-header 
        class="title"
        [title]="event()!.title" 
        [description]="event()!.description">
      </app-event-header>

      <app-event-status
        [eventStatus]="event()!.status" 
        [participationStatus]="event()!.participationStatus">
      </app-event-status>

      <app-event-info  
        [event]="event()!" 
        [showStatus]="false">
      </app-event-info>

      <app-participant-list
        [participants]="event()!.acceptedParticipants" 
        class="list w-full">
      </app-participant-list>

      <app-button 
        label="ANNULER VOTRE PARTICIPATION" 
        class="primary-button mb-6 mt-6"
        (clicked)="cancelParticipation(event()!.id)">
      </app-button>

    </div>
  }
</div>
