.activation-container {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to bottom, var(--color-orange), #b49300);
  color: var(--color-black);
  z-index: 9999;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.activation-title {
  font-size: clamp(1.8rem, 5vw, 5rem);
  margin: auto 0;
  font-weight: var(--font-extrabold);
  color: var(--color-white);
  -webkit-text-stroke: 0.6px var(--color-black);
}

.activation-content {
  max-width: 600px;
  padding: 25px;
  font-size: clamp(1rem, 2vw, 1.9rem);
  color: var(--color-white);
  -webkit-text-stroke: 0.6px var(--color-black);
  font-weight: var(--font-bold);
}