<div class="flex flex-col items-center justify-start min-h-screen px-7 py-20">
  
  <app-state-handler 
    [loading]="loading"
    [error]="error">
  </app-state-handler>

  @if (event()) {
    <div class="w-full flex flex-col items-center">

      <app-button 
        label="M O D I F I E R" 
        class="primary-button w-80 mb-6" 
        [routerLink]="['/edit-event', event()!.id]">
      </app-button>

      <app-event-header 
        class="title"
        [title]="event()!.title" 
        [description]="event()!.description">
      </app-event-header>

      <mat-tab-group  class="w-60 max-w-none" mat-align-tabs="start" animationDuration="300ms">
        <mat-tab label="Acceptés">
          <app-event-tab-accepted 
            [acceptedParticipants]="event()!.acceptedParticipants"
            [organizerName]="event()!.organizerName"
            (reject)="onReject($event)">
          </app-event-tab-accepted>
        </mat-tab>

        <mat-tab label="En attente">
          <app-event-tab-pending 
            [pendingParticipants]="event()!.pendingParticipants"
            (accept)="onAccept($event)" 
            (reject)="onReject($event)">
          </app-event-tab-pending>
        </mat-tab>
      </mat-tab-group>

      <app-event-info 
        class="w-72" 
        [event]="event()!" 
        [showStatus]="true" 
        [showOrganizer]="false">
      </app-event-info>
      
      <app-button 
        label="S U P P R I M E R" 
        class="w-80 primary-button mt-4" 
        (clicked)="deleteEvent()">
      </app-button>

    </div>
  }
</div>
