    <div class="participants-list">

  @if (pendingParticipants.length > 0) {

    <div class="participants-content">

      @for (p of pendingParticipants; track p.id) {

        <div class="participant-row">

          <span class="participant-name">
            {{ p.firstName }} {{ p.lastName }}
          </span>

          <div class="participant-actions">

            <button
              mat-icon-button
              color="primary"
              (click)="accept.emit(p.id)">

              <mat-icon>check</mat-icon>

            </button>

            <button
              mat-icon-button
              color="warn"
              (click)="reject.emit(p.id)">

              <mat-icon>highlight_off</mat-icon>

            </button>

          </div>

        </div>

      }

    </div>

  } @else {

    <p class="empty-state">
      Aucun participant en attente.
    </p>

  }

</div>