:host {
  display: block;
  width: 100%;
}

.edit-event-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 24px 15px;
  box-sizing: border-box;
}

app-event-form {
  width: 100%;
  max-width: 550px;
}

::ng-deep .mat-button-toggle-group {
  width: 100%;
  display: flex !important;
}

::ng-deep .mat-button-toggle {
  flex: 1;
  min-height: 28px;
}

::ng-deep .mat-button-toggle-label-content {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 0 16px !important;
  font-size: 13px;
  font-weight: var(--font-bold);
  line-height: 1.2 !important;
}


@media (min-width: 1024px) {

  .edit-event-page {
    padding-top: 70px;
    padding-bottom: 100px;
  }

  ::ng-deep .mat-button-toggle {
    min-height: 54px;
  }

  ::ng-deep .mat-button-toggle-label-content {
    padding: 0 24px !important;
    font-size: 24px;
  }
}