<div class="confirm-dialog">

  <h2
    mat-dialog-title
    class="dialog-title">

    {{ data.title }}

  </h2>

  <mat-dialog-content class="dialog-content">

    <p class="dialog-message">
      {{ data.message }}
    </p>

  </mat-dialog-content>

  <div class="dialog-actions">

    <button
      class="primary-button text-button"
      (click)="onClose(true)">

      CONFIRMER

    </button>

    <button
      class="primary-button text-button"
      (click)="onClose(false)">

      ANNULER

    </button>

  </div>

</div>