<div class="flex flex-col items-center justify-center min-h-screen">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col items-center gap-6">

    <app-input 
      label="Adresse email" 
      [control]="form.controls.email" 
      type="email" 
      [required]="true">
    </app-input>

    <app-button 
      label="Envoyer le lien de réinitialisation" 
      class="w-full primary-button" 
      type="submit"
      [disabled]="isSubmitting">
    </app-button>

    <app-button 
      label="Retour à la connexion" 
      class="w-full primary-button"
      routerLink="/login">
    </app-button>

  </form>
</div>