.forgot-password {
  min-height: calc(100vh - 64px - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 24px;
}

.forgot-password-form {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-white) inset;
  box-shadow: 0 0 0px 1000px var(--color-white) inset;
  -webkit-text-fill-color: var(--color-black);
}


@media (min-width: 1024px) {

  .forgot-password {
    min-height: calc(100vh - 84px);
    padding: 64px;
  }

  .forgot-password-form {
    max-width: 510px;
    gap: 24px;
  }
}