<section class="forgot-password">

  <form
    class="forgot-password-form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >

    <app-input
      label="Adresse email"
      [control]="form.controls.email"
      type="email"
      [required]="true"
    />

    <app-button
      label="ENVOYER LE L'EMAIL"
      type="submit"
      [fullWidth]="true"
      [disabled]="isSubmitting"
    />

    <app-button
      label="RETOUR À LA CONNEXION"
      routerLink="/login"
      [fullWidth]="true"
    />

  </form>

</section>