<div class="flex flex-col items-center justify-center min-h-screen">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col items-center gap-3">

    <app-input 
      label="Email" 
      [control]="form.controls.email" 
      type="email" 
      [required]="true">
    </app-input>

    <app-input 
      label="Mot de passe" 
      [control]="form.controls.password" 
      type="password" 
      [required]="true">
    </app-input>
      
    <app-button 
      label="Se connecter" 
      class="primary-button" 
      type="submit" [disabled]="isSubmitting">
    </app-button>

    <app-button 
      label="Mot de passe oublié" 
      class="primary-button w-80" 
      routerLink="/forgot-password">
    </app-button>

    <app-button 
      label="Pas encore de compte ?" 
      class="primary-button w-80" 
      routerLink="/register">
    </app-button>
    
  </form>
</div>