<section class="login">

  <form
    class="login-form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >

    <app-input
      label="Email"
      [control]="form.controls.email"
      type="email"
      [required]="true"
    />

    <app-input
      label="Mot de passe"
      [control]="form.controls.password"
      type="password"
      [required]="true"
    />

    <div class="login-actions">

      <app-button
        label="SE CONNECTER"
        type="submit"
        [disabled]="isSubmitting"
        [fullWidth]="true"
      />

      <app-button
        label="MOT DE PASSE OUBLIÉ"
        routerLink="/forgot-password"
        [fullWidth]="true"
      />

      <app-button
        label="PAS ENCORE DE COMPTE ?"
        routerLink="/register"
        [fullWidth]="true"
      />

    </div>

  </form>

</section>