:host {
  display: block;
  width: 100%;
}

.profile-page {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;

  padding: 15px 24px 15px;

  box-sizing: border-box;
}

.profile-layout {
  width: 100%;
  max-width: 900px;

  display: flex;
  flex-direction: column;

  position: relative;
}

.profile-tabs {
  width: 100%;
  margin-top: 24px;
}

@media (min-width: 1024px) {

  .profile-page {
    padding-top: 50px;
    padding-bottom: 80px;
  }

  .profile-layout {
    max-width: 600px;
  }

  .profile-tabs {
    margin-top: 32px;
  }

  ::ng-deep .mdc-tab {
    height: 72px !important;
    min-width: 220px !important;
    padding-inline: 32px !important;
  }

  ::ng-deep .mdc-tab__text-label {
    font-size: 22px !important;
    font-weight: 700 !important;
  }
}