<section class="profile-page">

  <app-state-handler
    [loading]="loading"
    [error]="error">
  </app-state-handler>

@if (!loading() && !error()) {

  @if (user()) {

    <div class="profile-layout">

      <app-settings-menu
        (logout)="onLogout()"
        (deleteAccount)="onDeleteAccount()"
        (showCgu)="openCguDialog()"
        (showMentions)="openMentionsDialog()"
        (editProfile)="onEditProfile()">
      </app-settings-menu>

      <app-profile-card
        [user]="user()">
      </app-profile-card>

      <mat-tab-group
        class="profile-tabs"
        mat-align-tabs="start"
        animationDuration="300ms">

        <mat-tab label="Je participe">

          <app-participation-tab
            [events]="eventsParticipating()">
          </app-participation-tab>

        </mat-tab>

        <mat-tab label="J’organise">

          <app-organization-tab
            [events]="eventsOrganized">
          </app-organization-tab>

        </mat-tab>

      </mat-tab-group>

    </div>

  }
  }
</section>