*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

:root {
  --color-primary: #1976d2;
  --color-accent: #ff6200;
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-border: #000000;
  --shadow-button:
    0 10px 18px -10px #c04d05,
    0 6px 10px -8px rgba(0, 0, 0, 0.4);
  --shadow-soft:
    0 4px 12px rgba(0, 0, 0, 0.08);
  --header-mobile: 64px;
  --header-desktop: 84px;
  --footer-mobile: 72px;
  --radius-sm: 10px;
  --radius-md: 14px;
  --radius-lg: 18px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
}

button,
input,
textarea,
select {
  font: inherit;
}

.success-snackbar,
.warning-snackbar,
.error-snackbar {
  .mdc-snackbar__surface {
    background: #000 !important;
    color: #fff !important;
    width: min(92vw, 600px) !important;
    max-width: 92vw !important;
    margin-top: 15px;
    padding: 10px 2px !important;
    border: 1px solid rgba(247, 127, 76, 0.767);
    box-shadow:
      0 10px 30px rgba(0, 0, 0, 0.712) !important;
  }

  .mdc-snackbar__label {
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 1.4 !important;
  }

  .mat-mdc-snack-bar-action {
    color: white !important;

    .mdc-button__label {
      font-size: 16px !important;
      font-weight: 700 !important;
    }
  }
}

.mat-mdc-snack-bar-action:hover {
  background: transparent !important;
}

.mat-mdc-snack-bar-action::before,
.mat-mdc-snack-bar-action .mat-ripple-element,
.mat-mdc-snack-bar-action .mdc-button__ripple,
.mat-mdc-snack-bar-action .mat-mdc-button-persistent-ripple {
  background: transparent !important;
  opacity: 0 !important;
}

.mat-mdc-snack-bar-action:hover .mdc-button__label {
  color: #c04d05 !important;
}

.status-success {
  color: #16a34a;
  font-weight: 600;
}

.status-warning {
  color: #f97316;
  font-weight: 600;
}

.status-error {
  color: #dc2626;
  font-weight: 600;
}

.status-neutral {
  color: #6b7280;
  font-weight: 600;
}

.status-default {
  color: #111827;
}

.legal-title {
  margin-bottom: 12px;
  padding-bottom: 6px;
  border-bottom: 1px solid #000;
  font-size: 22px;
  font-weight: 600;
}

.legal-subtitle {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 600;
}

.legal-text-spacing {
  margin-top: 16px;
}

@media (min-width: 1024px) {

  .success-snackbar,
  .warning-snackbar,
  .error-snackbar {

    .mdc-snackbar__surface {
      max-width: 777px !important;
      padding: 24px 36px !important;
    }

    .mdc-snackbar__label {
      font-size: 25px !important;
    }

    .mat-mdc-snack-bar-action .mdc-button__label {
      font-size: 25px !important;
      font-weight: 700 !important;
    }
  }
}