*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

:root {

  --color-orange: #ff6200;
  --color-orange-dark: #c04d05;
  --color-white: #ffffff;
  --color-black: #000000;

  --color-success: #16a34a;
  --color-warning: #f97316;
  --color-error: #dc2626;
  --color-neutral: #6b7280;

  --color-transparent: transparent;

  --shadow-button:
    0 9px 8px -6px var(--color-orange-dark),
    0 6px 8px -6px rgba(0, 0, 0, 0.6);

  --shadow-button-active:
    0 1.5px 0 var(--color-orange-dark);

  --shadow-input:
    0 6px 8px -6px rgba(0, 0, 0, 0.8);

  --shadow-input-focus:
    0 10px 14px -10px var(--color-orange-dark),
    0 6px 8px -6px rgba(0, 0, 0, 0.45);

  --shadow-card:
    0 7px 8px -6px var(--color-orange),
    0 6px 8px -6px rgba(0, 0, 0, 0.6);

  --shadow-footer:
   0 -4px 10px rgba(0, 0, 0, 0.3);

  --shadow-header:
     0 4px 10px rgba(0, 0, 0, 0.3);

  --radius-sm: 10px;
  --radius-md: 14px;
  --radius-lg: 18px;
  
  --header-mobile: 64px;
  --header-desktop: 84px;
  --footer-mobile: 72px;

  --transition-fast: 0.2s ease;
  --transition-bounce: 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);

}

body {
  font-family: 'Nunito Sans', sans-serif;
  background: var(--white);
  color: var(--color-black);
}

button,
input,
textarea,
select {
  font: inherit;
}

.success-snackbar,
.warning-snackbar,
.error-snackbar {
  .mdc-snackbar__surface {
    background: var(--color-black) !important;
    color: var(--color-white) !important;
    width: min(92vw, 600px) !important;
    max-width: 92vw !important;
    margin-top: 15px;
    padding: 10px 2px !important;
    border: 1px solid var(--color-orange);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.75) !important;
  }

  .mdc-snackbar__label {
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 1.4 !important;
  }

  .mat-mdc-snack-bar-action {
    color: var(--color-white) !important;

    .mdc-button__label {
      font-size: 16px !important;
      font-weight: 700 !important;
    }
  }
}

.mat-mdc-snack-bar-action:hover {
  background: var(--color-transparent) !important;
}

.mat-mdc-snack-bar-action::before,
.mat-mdc-snack-bar-action .mat-ripple-element,
.mat-mdc-snack-bar-action .mdc-button__ripple,
.mat-mdc-snack-bar-action .mat-mdc-button-persistent-ripple {
  background: var(--color-transparent)!important;
  opacity: 0 !important;
}

.mat-mdc-snack-bar-action:hover .mdc-button__label {
  color: var(--color-orange-dark) !important;
}

.status-success {
  color: var(--color-success);
  font-weight: 600;
}

.status-warning {
  color: var(--color-warning);
  font-weight: 600;
}

.status-error {
  color: var(--color-error);
  font-weight: 600;
}

.status-neutral {
  color: var(--color-neutral);
  font-weight: 600;
}

.status-default {
  color: var(--color-black);
}

.legal-title {
  margin-bottom: 12px;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--color-black);
  font-size: 22px;
  font-weight: 600;
}

.legal-subtitle {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 600;
}

.legal-text-spacing {
  margin-top: 16px;
}

@media (min-width: 1024px) {

  .success-snackbar,
  .warning-snackbar,
  .error-snackbar {

    .mdc-snackbar__surface {
      max-width: 777px !important;
      padding: 24px 36px !important;
    }

    .mdc-snackbar__label {
      font-size: 25px !important;
    }

    .mat-mdc-snack-bar-action .mdc-button__label {
      font-size: 25px !important;
      font-weight: 700 !important;
    }
  }
}