:host {
  display: block;
  width: 100%;
}

.activity-page {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px 16px 60px;

  box-sizing: border-box;
}

.activities-grid {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 20px;

  justify-items: center;

  margin-top: 20px;
}

@media (min-width: 1024px) {

  .activity-page {
  }

  .activities-grid {
    grid-template-columns: repeat(2, 1fr);

    gap: 50px;

    width: fit-content;

    margin: 60px auto 0 auto;
  }
}