<div class="pt-[40px] pb-[60px] mt-2">

  <app-state-handler 
    class="!mt-10"
    [loading]="loading"
    [error]="error">
  </app-state-handler>

  @if (!loading() && !error()){
    <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 justify-items-center gap-6 p-6">
      @for (activity of activities(); track activity.id) {

        <app-icon-card
          class="icon-card"
          [title]="activity.name"
          [iconPath]="'assets/images/icons/' + activity.imageUrl"
          (cardClick)="goToEvents(activity.id)">
        </app-icon-card>

      }
    </div>
  }
</div>
